<img class="home-bg" src="https://picsum.photos/id/288/3888/2592"/>
<div class="container welcome">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card">

        <div class="card-body">
          <div class="card-title mb-4">
            <h2 style="font-size: 1.5rem; font-weight: bold">Welcome!</h2>
          </div>

          <form [formGroup]="searchForm">
            <div class="form-row form-group">

            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
