<div class="container profile">
  <div *ngIf="!found">
    <h2>Oops...</h2>
    <p>Accommodation with ID {{accommodationID}} could not be found!</p>
  </div>
  <div *ngIf="accommodation && found">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card">

          <div class="card-body">
            <div class="card-title mb-4">
              <button *ngIf="currentUsername === host.username" type="submit" class="btn btn-secondary ml-auto"
                      style="height: 10%; float: right">Edit</button>
              <h3 style="font-weight: bold">{{accommodation.info.name}}</h3>
              <h7>{{accommodation.location.address.suburb}}, {{accommodation.location.address.city}},
                {{accommodation.location.address.country}}</h7>
              <hr />
            </div>

            <div class="d-flex justify-content-start">

              <ngb-carousel class="col-4" *ngIf="accommodationImages" [interval]="50000">
                <ng-template ngbSlide *ngFor="let img of accommodationImages">
                  <div class="image-container">
                    <img [src]="img" class="img-thumbnail" />
                  </div>
                </ng-template>
              </ngb-carousel>

              <div class="col-5">
                <h5 class="d-block mt-1 mb-2" style="font-weight: 600;">{{accommodation.info.type}} hosted by <u>{{accommodation.host.username}}</u></h5>
                <h7 class="d-block">{{accommodation.rules.maxPeople}} guests, {{accommodation.info.bedrooms}} bedrooms, {{accommodation.info.beds}} beds,
                  {{accommodation.info.bathrooms}} bathrooms</h7>
                <hr />
                <div class="mt-4">
                  <h5 class="d-block"><b>€ {{accommodation.info.minCost}}</b> / night</h5>
                  <button *ngIf="currentUsername !== accommodation.host.username" type="submit" class="reserve-button btn">Reserve</button>
                </div>
              </div>
            </div>

            <hr class="mt-4" />
            <div class="d-flex justify-content-start col-12 mt-4">
              <div class="col-7">
                <h5 class="d-block mb-2" style="font-weight: 600;">Description</h5>
                <h7 class="d-block" style="font-size: 0.95em">{{accommodation.info.description}}</h7>
              </div>
              <div class="vl"></div>
              <div class="ml-3">
                <div *ngIf="hostPicture">
                  <img [src]="hostPicture" alt="profile picture" id="profilePicture" class="host-thumbnail" />
                </div>
              </div>
              <div class="col-3">
                <h5 class="mb-2" style="font-weight: 600;">Host: {{accommodation.host.firstName}} {{accommodation.host.lastName}}</h5>
                <h6>Rating: </h6>
                <button *ngIf="currentUsername !== accommodation.host.username" type="submit" class="reserve-button btn">Chat</button>
              </div>
            </div>
            <!--<div class="col-12 mb-4">
              <h5 class="mb-2" style="font-weight: 600; text-decoration-line: underline">Description</h5>
              <h7 style="font-size: 0.95em">{{accommodation.info.description}}</h7>
            </div>
            <div class="col-12">
              <h5 class="mb-2" style="font-weight: 600; text-decoration-line: underline">Host Info</h5>
              <h7 style="font-size: 0.95em">{{accommodation.host.firstName}} {{accommodation.host.lastName}}</h7>
            </div>-->

            <div class="row col-12 mt-4">
              <div class="col-12 accommodation-data">
                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="location-tab" data-toggle="tab" href="#location" role="tab" aria-controls="location" aria-selected="false">Location</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="rules-tab" data-toggle="tab" href="#rules" role="tab" aria-controls="rules" aria-selected="false">Rules</a>
                  </li>
                </ul>

                <div class="tab-content ml-1" id="myTabContent">
                  <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">

                    <div class="row">
                      <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;">Name</label>
                      </div>
                      <div class="col-md-8 col-6">
                        {{accommodation.info.name}}
                      </div>
                    </div>
                    <hr />

                    <div class="row">
                      <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;">Type</label>
                      </div>
                      <div class="col-md-8 col-6">
                        {{accommodation.info.type}}
                      </div>
                    </div>
                    <hr />
                  </div>

                  <div class="tab-pane fade" id="location" role="tabpanel" aria-labelledby="location-tab">
                    <div class="row">
                      <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;">Address</label>
                      </div>
                      <div class="col-md-8 col-6">
                        {{accommodation.location.address.label}}
                      </div>
                    </div>
                    <hr />

                    <div class="row">
                      <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;">Transportation</label>
                      </div>
                      <div class="col-md-8 col-6">
                        {{accommodation.location.transportation}}
                      </div>
                    </div>
                    <hr />
                  </div>

                  <div class="tab-pane fade" id="rules" role="tabpanel" aria-labelledby="rules-tab">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
