.login {
  padding-top: 90px;
  padding-bottom: 50px;
  margin: auto;
  height: auto;
}

.login-title {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  text-align: center;
}

.login-button {
  margin-bottom: 1rem;
  color: #fff;
  background-color: #fc5892;
  border-color: #fc5892;
}

.login-button:hover {
  color: #fff;
  background-color: #e6477f;
  border-color: #e6477f;
}
